extends ../layout/layout

block main
  include ../modules/main-sec.html
  include ../modules/for-whom.html
  include ../modules/calc.html
  include ../modules/food-map.html
  include ../modules/soc-bar.html
  include ../modules/factory.html
  include ../modules/team.html
  include ../modules/about-us.html
  include ../modules/delivery.html
  include ../modules/reviews.html
  include ../modules/faq.html